{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",                
                "alias": {
                    "Constants": "./app/src/constants",
                    "Components": "./app/src/components",
                    "Core": "./app/src/core",
                    "Pages": "./app/src/pages",
                    "Redux": "./app/src/redux",
                    "I18n": "./app/localization",
                    "Images": "./resources/images"
                }
            },
            "@babel/plugin-syntax-dynamic-import"
        ]
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}