#contextmenu {
    display: grid;
    height: 100%;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: 40px 2fr 15px 4fr 2fr 1fr 40px;     
}

.contextmenu {
    font-size: 50px;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}

.italic {
    font-style: italic;
    text-align: center;
}